<h1>Github Search</h1>
<form action="">
    <div class="form-group">
        <input type="text" placeholder="Enter username" ngModel="searchname" name="searchname"
        (keyup)="searchPerson()" >
    </div>
</form>

<div class="container">


    <div *ngIf="user">
        <div class="panel-panel default">
            <div class="panel-heading">
                 {{user.name}}<small>{{user.login}}</small>
                
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="users image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                         <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
                       
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-default">{{user.followers}}Followers</span>

                            <span class="label label-default">{{user.following}}following</span>
    
                            <span class="label label-default">{{user.public_repos}}Repositories</span>
    
                            <span class="label label-default">{{user.followers}}Followers</span>
                        </p>
                        <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success btn-sm">View Profile on Github</a></p>
                       <div class="container">
                           <div class="panel-heading">
                               <h3 class="panel-heading">Repositories:</h3>
                           </div>
                           <div class="panel-body" *ngFor="let repo for repos">
                               <p>
                                   {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="button pull-right">View this repo in 
                                       Github!
                                   </a>
                               </p>

                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

     
    </div>
</div>